/* ここから下に記載していく */
/* ------------------
  default
  reset.cssでリセットされないスタイルをリセットする
------------------- */

a{
  text-decoration: none;
  color: inherit;
  font-size: inherit;
  cursor: pointer;
}

h3,p{
  line-height: 2;
  font-feature-settings: "palt" 1;
}

div{
  box-sizing: border-box;
}

/* ------------------
  utils
  汎用的なスタイルを定義する
------------------- */

/* spacing */
.pb60{
  padding-bottom: 60px;
}

.pb40{
  padding-bottom: 140px;
}

/* typography */
h1{
  font-size: 18px;
}
p{
  font-size: 16px;
  color: #222;
}
.title{
  font-size: 24px;
  margin-bottom: 30px;
}
.sub-title{
  font-size: 18px;
  margin-bottom: 60px;
}

.text-center{
  text-align: center;
}

.text-left{
  text-align-last: left;
}

.text-rigth{
  text-align: right;
}

.fw-b{
  font-weight: bold;
}

/* color */
.text-white{
  color: #ffffff;
}

.text-yellow{
  color: #ffd61a;
}

.bg-grey{
  background-color: #fafafa;
}

.bg-yellow{
  background-color: #ffd61a;
}

.yellow{
  background-color: #ffd61a;
}

/* layout */
.d-flex{
  display: flex;
}

.justify-center{
  justify-content: center;
}

.justify-end{
  justify-content: flex-end;
}

.justify-sb{
  justify-content: space-between;
}

.align-center{
  align-items: center;
}

.m-a{
  margin: 0 auto;
}

.m-l-a{
  margin-left: auto;
}

.m-r-a{
  margin-right: auto;
}


/* ------------------
  layout
  各エリアのレイアウトを定義する
------------------- */

#wrapper{
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

header{}

.section{
  padding-top: 60px;
}

footer{
  padding: 30px 0;
}


/* ------------------
  components
  各エリアの中身を定義する
------------------- */

/* header */
header .nav ul{
  padding: 50px 0;
}

header .nav li + li{
  margin-left: 50px;
}

/* main-visual */
#main-visual{
  height: 480px;
  background:url('../img/mainbg.png') no-repeat center;
}

#main-visual h1{
  font-size: 58px;
  margin-bottom: 30px;
}

#main-visual p{
  font-size: 24px;
}

/* about */

#about p + p{
  margin-top: 40px;
}
.photo-area{
  margin-top: 80px;
}
.photo-area li{
  width: 25%;
}


#about .photo-area li img{
  display: block;
  width: 100%;
  height: auto;
}

/* course */

#course .detail-area .col{
  width: 50%;
}

#course .photo-wrapper{
  width: 600px;
  height: 400px;
}
#course .photo-wrapper img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#course .text-wrapper{
  padding: 50px;
  display: flex;
}

#course .text-area{
  width: 430px;
}

#course .text-area h3{
  font-size: 18px;
  margin-bottom: 40px;
}

/* news */

.card-area{
  margin-bottom: 60px;
}

.card-area .card{
  width: 330px;
  transition: .3s;
  border-radius: 3px;
  
  /* box-shadow    : 0 0 10px #eaeaea; */
}
.card-area .card:hover{
  box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
}

.card-area .card img{
  width: 100%;
  border-radius: 3px;
  overflow: hidden;
  height: auto;
}
.card-area .card .date{
  margin-top: 30px;
  margin-bottom: 24px;
}

.card-area .card + .card{
  margin-left: 30px;
}

.card-area .card .text-area{
  padding: 0 12px 12px;
}

#news button{
  display: block;
  width: 300px;
  height: 60px;
  margin: 0 auto 60px;
  appearance: none;
  border: 0;
  border-radius: 5px;
  background: #fff;
  color: #ffd61a;
  padding: 8px 16px;
  font-size: 16px;
  border: 1px solid #ffd61a;
  outline: none;
  cursor: pointer;
  transition: .3s;
}

#news button:hover{
  background: #ffd61a;
  color: #fff;
  
}

/* access */

.map-area{
  margin: 60px 0;
}

.map-area iframe{
  width: 100%;
  height: 300px;
}

#access table{
  margin: 0 auto;
  /* margin-bottom: 60px; */
  text-align: left;
}

#access table tr{
  height: 50px;
}
#access table th{
  width: 30%;
}